<h1>关于Ethan Lan</h1>
<p>资深摄影师，美国PPA摄影家协会会员，曾任著名摄影培训机构黑光集团高级摄影讲师及摄影部部长，及富士公司技术工程师。</p>
<p>专业擅长商业摄影和外景婚纱拍摄，样片拍摄专家, 多年的相机讲解及摄影专业技术培训经验。在国内多家大型影楼及文化传播公司担任摄影师、技术总监，其作品频繁发表在《人像摄影》、《今日人像》、《美容美发化妆师》等专业媒体。</p>
<p>Ethan Lan 自幼就喜爱摄影，随身携带相机，喜爱通过镜头观察和记录世界，长大后以人像摄影为职业，最善于发现每位客人的最美角度，聆听客人自己的情感故事，使每张照片都饱含情感和故事， 定居墨尔本后成立了自己的工作室，以独特的视角和唯美的拍摄风格迅速在墨尔本建立了自己的客户群。 </p>
<%= image_tag "about_bg_S.jpg", :id => "bg-image" %>
