<h1>联系我们</h1>
<div id="contact_details">
	<p><label>所在地</label><span>Australia Melbourne</span></p>
  <p><label>微信号</label><span>lanzhenggang</span></p>
  <p><label>工作邀约电话</label><span>+61481 178 908; +61402 189 988</span></p>
  <p><label>商业合作邮箱</label><span><a href="mailto:zhengganglan@hotmail.com">zhengganglan@hotmail.com</a></span></p>
  <p><label>Facebook</label><span><a href="http://www.facebook.com/photographerzhengganglan" target="_blank">www.facebook.com/photographerzhengganglan</a></span></p>
</div>
<div class="clear"></div>
<div id="contact_form">
<h2>预约档期——Book a sitting</h2>
</div>

