<% content_for :js_extra  do %>
	<%= javascript_include_tag "jquery.fancybox.pack", "jquery.fancybox-thumbs" %>
		<script type="text/javascript">

			$(document).ready(function() {
					$(".fancybox-thumb").fancybox({
						beforeShow: function () {
	            /* Disable right click */
	            $.fancybox.wrap.bind("contextmenu", function (e) {
	                    //return false; 
	            });
	        },
	        padding : 0,
					prevEffect	: 'none',
					nextEffect	: 'none',
					helpers	: {
						title	: {
							type: 'outside'
						},
						thumbs	: {
							height	: 50
						}
					}

				});
			});
		</script>
<% end %>

<% content_for :css_extra  do %>
	<%= stylesheet_link_tag "jquery.fancybox", "jquery.fancybox-thumbs", :media => "all" %>
<% end %>

<div class="gallery-canvas">
	<% @images_full.each do |image| %>
   <%= link_to image_tag("gallery/thumbnail/#{image}", :height => '110'), "/assets/gallery/full/#{image}", :class=>'fancybox-thumb', :rel=>'fancybox-thumb'%>
 	<% end %>
</div>