<% case params[:category] 
	when "pre-wedding" %>

		<h1>婚纱摄影</h1>
		<h2>婚纱套系A  $1195</h2>
		<ul class="list">
			<li>5小时高品质拍摄；</li>
			<li>2个拍摄景点；</li>
			<li>提供新娘婚纱或晚礼服两套；</li>
			<li>配套新郎礼服可供选择；</li>
			<li>专业造型师一对一造型设计并全程跟妆：</li>
			<li>-提供精致新娘化妆及发型设计两款；</li>
			<li>免费提供造型所需仿真睫毛 ,免费提供精美饰品；</li>
			<li>免费提供拍摄所需仿真手捧花 ；</li>
			<li>免费赠送全部拍摄底片并刻入DVD光盘；</li>
			<li>精修24张选出照片；</li>
			<li>24张精修照片刻入DVD光盘赠送；</li>
			<li>16 x 24寸 精美数码放大照片一张；</li>
		</ul>
		<h2>婚纱套系B $1695</h2>
		<ul class="list">
			<li>7小时高品质拍摄；</li>
			<li>3个拍摄景点；</li>
			<li>提供新娘婚纱或晚晚礼服三套；</li>
			<li>配套新郎礼服可供选择；</li>
			<li>专业造型师一对一造型设计并全程跟妆：</li>
			<li>-提供精致新娘发型设计三款；</li>
			<li>免费提供造型所需仿真睫毛</li>
			<li>免费提供精美饰品；</li>
			<li>免费提供拍摄所需仿真手捧花 ；</li>
			<li>免费赠送全部拍摄底片并刻入DVD光盘；</li>
			<li>精修36张照片并刻入DVD光盘；</li>
			<li>12 x 12寸精美圣经相册（12页）一本；</li>
			<li>16 x 24寸 精美数码放大照片一张；</li>
		</ul>
		<h2>婚纱套系C $2385</h2>
		<ul class="list">
			<li>10小时高品质拍摄，包括夜景；</li>
			<li>4个拍摄景点；</li>
			<li>提供新娘婚纱或晚礼服四套；</li>
			<li>配套新郎礼服可供选择；</li>
			<li>专业造型师一对一造型设计并全程跟妆：</li>
			<li>-提供精致新娘发型设计四款；</li>
			<li>免费提供造型所需仿真睫毛；</li>
			<li>免费提供精美饰品；</li>
			<li>免费提供拍摄所需仿真手捧花 ；</li>
			<li>免费赠送全部拍摄底片并刻入DVD光盘；</li>
			<li>精修48张照片并刻入DVD光盘；</li>
			<li>16寸顶级皮面一体成型相册16页一本；</li>
			<li>16 x 24寸 精美数码放大照片一张 ；</li>
			<li>24 x 36寸 精美数码放大照片一张；</li>
		</ul>
		<h2>婚纱套系D $3295</h2>
		<ul class="list">
			<li>两天16小时高品质拍摄，包括一天夜景；</li>
			<li>6个拍摄景点；</li>
			<li>提供新娘婚纱或晚礼服六套；</li>
			<li>配套新郎礼服可供选择；</li>
			<li>专业造型师一对一造型设计并全程跟妆：</li>
			<li>-提供精致新娘发型设计六款；</li>
			<li>免费提供造型所需仿真睫毛；</li>
			<li>免费提供精美饰品；</li>
			<li>免费提供拍摄所需仿真手捧花 ；</li>
			<li>免费赠送全部拍摄底片并刻入DVD光盘；</li>
			<li>精修60张照片并刻入DVD光盘；</li>
			<li>18寸顶级皮面一体成型相册16页一本；</li>
			<li>16 x 24寸 精美数码放大照片一张；</li>
			<li>24 x 36寸 精美数码放大照片一张；</li>
		</ul>

	<!--Wedding-->	
	<% when "wedding" %>

		<h1>婚礼跟拍</h1>
		<h2>结婚注册套餐 $588</h2>
		<ul class="list">
			<li>1小时注册无限量拍摄；</li>
			<li>1套新娘化妆造型；</li>
			<li>精修12张照片并刻入DVD光盘；</li>
			<li>免费赠送全部拍摄底片并刻入DVD光盘；</li>
		</ul>

		<h2>婚礼跟拍套系A $1180</h2>
		<ul class="list">
			<li>4小时无限量跟拍；</li>
			<li>30张精选照片后期处理；</li>
			<li>赠送所有后期处理照片4✕6寸打印；</li>
			<li>20寸雅典油画一套；</li>
		</ul>

		<h2>婚礼跟拍套系B $1680</h2>
		<ul class="list">
			<li>7小时无限量跟拍；</li>
			<li>50张精选照片后期处理；</li>
			<li>赠送所有后期处理照片4✕6寸打印；</li>
			<li>24寸雅典油画一套；</li>
		</ul>

		<h2>婚礼跟拍套系C $2280</h2>
		<ul class="list">
			<li>10小时无限量跟拍；</li>
			<li>70张精选照片后期处理；</li>
			<li>赠送所有后期处理照片4✕6寸打印；</li>
			<li>36寸雅典油画一套；</li>
		</ul>

		<h2>婚礼跟拍套系D $3280</h2>
		<ul class="list">
			<li>全天无限量跟拍；</li>
			<li>100张精选照片后期处理；</li>
			<li>赠送所有后期处理照片4✕6寸打印；</li>
			<li>36寸雅典油画一套；</li>
		</ul>
	
	<% when "portrait" %>

		<h1>portrait</h1>

	<% when "commercial-advertsing-photography" %>
	
		<h1>commercial-advertsing-photography</h1>

	<% when "other-product-price" %>
	
		<h1>其他产品定价</h1>
		<ul class="list">
			<li>12 x 12寸顶级皮面一体成型数码圣经相册12页 $299</li>
			<li>16寸顶级皮面一体成型数码圣经相册16页 $599</li>
			<li>18寸顶级皮面一体成型数码圣经相册16页 $899</li>
			<li>24 寸油画相框 $399</li>
		</ul>

<% end %>

<%= image_tag "package_bg_S.jpg", :id => "bg-image" %>